/* General App Styling */
/* Header.css */

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light grey background */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove any default margin */
  overflow-x: hidden; /* Prevent horizontal scrolling if content overflows */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue; 
  color: white;
}

.header-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px; /* Add padding for Toolbar */
}

.header-logo {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fills the circular area */
  margin-right: 10px; /* Space between logo and title */
}

.header-title {
  flex-grow: 1; /* Allow title to take available space */
  color: white; /* Text color */
}

.JSLogo {
  display: flex;
  align-items: center;
  margin: auto;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 2rem;
  margin-top: 30px;
}

/* Responsive Styling */

/* Tablet Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack header items vertically */
    align-items: flex-start; /* Align items to the start */
    overflow-x:inherit;
  }

  .header-logo {
    width: 40px; /* Reduce logo size */
    height: 40px; 
  }

  h1 {
    font-size: 2rem; /* Smaller font size for h1 */
  }

  h2 {
    font-size: 1.75rem; /* Smaller font size for h2 */
  }

  .header-toolbar {
    padding: 10px; /* Less padding on smaller screens */
  }
}

/* Phone Styles */
@media (max-width: 480px) {
  .header {
    padding: 10px; /* Add padding for the header */
    text-align: center; /* Center align text in the header */
  }

  .header-logo {
    width: 30px; /* Further reduce logo size */
    height: 30px; 
  }

  h1 {
    font-size: 1.75rem; /* Even smaller font size for h1 */
  }

  h2 {
    font-size: 1.5rem; /* Smaller font size for h2 */
  }
}
