.home {
  font-family: 'Roboto', sans-serif;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/download.jpeg);
  background-blend-mode: darken;
  background-position: center;
  padding: 60px 0;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.hero p {
  font-size: 1.5rem;
  opacity: 0.9;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.typing-effect {
  font-size: 3rem;
  font-weight: bold;
  color: #f5f5f5;
  overflow: hidden; /* Hide overflowed content */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  border-right: 0.15em solid #f5f5f5; /* Caret styling */
  width: 100%; /* Adjust width as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  word-wrap: break-word; /* Allow breaking words if needed */
}
/* Typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Blinking caret */
@keyframes blink-caret {
  50% { border-color: transparent; }
}

.features {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures cards stretch evenly */
  padding: 60px 0;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  width: 100%; /* Ensure the parent has a defined width */
}

.feature-card {
  width: calc(100% - 50px); /* 50% width minus space for margin */
  margin: 10px; /* Space between cards */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.feature-card:hover {
  transform: scale(1.1); /* Scale effect on hover */
  background-color: azure;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.75rem; /* Adjust heading size for tablets */
  }

  .hero p {
    font-size: 1.25rem; /* Adjust paragraph size for tablets */
  }

  .feature-card {
    width: auto; 
    height: auto; /* Let height adjust for smaller screens */
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.3rem; /* Smaller heading size for phones */
    text-align: center;
  }


  .hero p {
    font-size: 1rem; /* Smaller paragraph size for phones */
  }

  .feature-card {
    width: auto; /* Full width for cards on phones */
    height: auto; /* Let height adjust for smaller screens */
  }

  .cta-button {
    padding: 10px 20px; /* Adjust button padding for smaller screens */
  }
}

.about {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.cta {
  padding: 60px 0;
}

.cta-button {
  margin-top: 20px;
}
